@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300";

.list {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "linkedin intro intro intro"
        "qualifications work skills programming";
    /* margin-top: 1rem; */
    padding: 1rem 1rem 0 1rem;
}

#Profile {
    display: inline-block;
    text-align: center;

    margin: auto;
    border: 0;
}

#linkedin {
    display: inline-block;
    text-align: center;
    width: 20rem;
    height: 16rem;
    margin: auto;
    grid-area: linkedin;
    border: 0;
}

title {
    color: black;
    font-size: calc((1.5 - 1) * 1.2vw + 1rem);
}

p {
    padding: 0 1rem;
    margin-block-start: 0.5em;
}

@media screen and (max-width: 79em) {}

@media screen and (max-width: 50em) {

    main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "linkedin" "intro" "qualifications" "work" "skills" "programming";
        padding: 1rem;

    }

}