.list {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.7fr 0.1fr;
    grid-template-areas:
        "linkedin intro intro intro"
        "qualifications work skills programming"
        "close close close close";
    /* margin-top: 1rem; */
    padding: 1rem 1rem 0 1rem;
}

#Profile {
    display: inline-block;
    text-align: center;

    margin: auto;
    border: 0;
}

#linkedin {
    display: inline-block;
    text-align: center;
    width: 20rem;
    height: 20rem;
    margin: auto;
    grid-area: linkedin;
    border: 0;
}

#Closing
{
    /* italic */
    font-style: italic;
    font-weight: bold;
    grid-area: close;

}



p {
    padding: 0 1rem;
    margin-block-start: 0.5em;
}

@media screen and (max-width: 79em) {}

@media screen and (max-width: 50em) {

    main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        grid-template-areas: "linkedin" "intro" "qualifications" "work" "skills" "programming" "close";
        padding: 1rem;
        padding-bottom: 2rem;

    }

}