.list {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "cphoto uphoto"
        "college university";
    /* margin-top: 1rem; */
    padding: 1rem 1rem 0 1rem;
}

p {
    padding: 0 1rem;
    margin-block-start: 0.5em;
}

#image {
    width: 100%;
    padding: 1rem;
}

@media screen and (max-width: 79em) {}

@media screen and (max-width: 50em) {

    main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "cphoto" "uphoto" "college" "university";
        padding: 1rem;

    }

}