#photo {
    width: 100%;
    object-fit: contain;
    object-position: center;
    filter: grayscale(80);
}

#overlay {

    position: absolute;
    top: 0;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(20deg, rgba(255, 69, 0, 0.3) 30%, rgba(110, 191, 194, 0.3) 80%);
    width: 100%;
    height: 100%;
}


#photocontainer {
    width: 100%;
    height: 100%;
    grid-area: mainphoto;
    position: relative;

}


@font-face {
    font-family: acumin-pro;
    src: url("../assets/Acumin-RPro.otf") format("opentype");
}

.text {
    font-family: acumin-pro;
    font-weight: 500;
    font-size: calc((2.3 - 1) * 1.2vw + 1rem);
    text-align: center;
    padding: 1rem;
    grid-area: text;
}

#quicklinks {
    grid-area: quicklinks;
    text-align: center;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "text mainphoto"
        "quicklinks mainphoto";
    margin-top: 4rem;
    padding: 1rem;

}


.quicklinks {
    list-style-type: none;
    padding: 0 1rem;
    margin: auto;
    max-width: 50rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

}

.quicklinks li {
    border-radius: 10px;
    margin: .5rem 0;
    /* background-size: cover; */
    /* background-position: center; */
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(20deg, rgba(255, 69, 0, 0.5) 15%, rgba(110, 191, 194, 0.5) 40%);
    /* background-image: linear-gradient(20deg, rgba(0, 0, 0, 1) 3%, rgba(255, 255, 255, 1) 40%); */

}

.quicklinks li section {
    /* border: 0.4rem solid transparent; */
    border-radius: 10px;
    /* background-clip: padding-box; */
    filter: grayscale(90%);
    opacity: 0.7;
    background-size: cover;
    background-position: center;

}

.quicklinks li section a {
    width: 100%;
    height: 100%;
    padding: 3rem 3.5rem;
    border-radius: 10px;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 1), 0 0 0.5rem rgba(0, 0, 0, 1);
}

.quicklinks li:hover {
    transform: scale(1.01);
}

.quicklinks li section a:link,
.quicklinks li section a:visited {
    color: white;
    text-decoration: none;
}

#button1 section {
    background-image: url("../assets/About\ Me.jpg");
    /* Image by Drazen Zigic on Freepik */
}

#button2 section {
    background-image: url("../assets/Resume.jpg");
    /* Image by rawpixel.com on Freepik */
}

#button3 section {
    background-image: url("../assets/Projects.jpg");
    /* Image by ikaika on Freepik? */
}

#button4 section {
    background-image: url("../assets/Linkedin.jpg");
    /* Image by pressfoto on Freepik */
}





@media screen and (max-width: 40em) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas: "text" "quicklinks";
        grid-template-rows: min-content;
        margin-top: 0;
    }

    #photocontainer {
        display: none;
    }

    .quicklinks {
        grid-template-columns: 1fr;
        list-style-type: none;
        padding: 0 1rem;
        margin: auto;
        display: grid;
        grid-gap: 1rem;
    }

    .quicklinks li {
        background-image: linear-gradient(20deg, rgba(255, 69, 0, 0.5) 15%, rgba(110, 191, 194, 0.5) 70%);
    }

    .quicklinks li a {
        max-height: 5rem;
        padding: 1rem;
    }

}