#Navbar-Placeholder {
	background: rgba(255, 255, 255, 0.7);
	color: #FFFF;
	height: 4rem;
	position: sticky;
	top: 0;
	margin: 0;
	padding: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

#menu {
	margin-right: 1rem;
}

#menu ul,
#menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}

#menu ul {
	width: 100%;
}

#menu li {
	float: left;
	display: inline;
	position: relative;
}

#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #000000;
	font-size: 16px;
	text-transform: capitalize;
}

#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
	text-decoration: none;
	z-index: -1;
}

#menu li a:hover {
	text-decoration: underline;
	text-underline-position: auto;
	background: rgba(255, 255, 255, 0);
	z-index: -1;
}

#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: -1;
}

#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}

#menu label:before {
	font-size: 1.6em;
	content: "\2261";
	margin-left: 20px;
}

#menu ul.sub-menus {
	height: auto;
	overflow: hidden;
	width: 170px;
	background: rgba(255, 255, 255, 0.7);
	;
	position: absolute;
	z-index: 99;
	display: none;
}

#menu ul.sub-menus li {
	display: block;
	width: 100%;
}

#menu ul.sub-menus a {
	color: #444444;
	font-size: 16px;
	text-transform: capitalize;
}

#menu li:hover ul.sub-menus {
	display: block
}

#menu ul.sub-menus a:hover {
	background: rgba(255, 255, 255, 0);
	;
	color: #444444;
}

@media screen and (max-width: 40em) {
	#menu {
		position: relative
	}

	#menu ul {
		background: #111;
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 3;
		height: auto;
		display: none
	}

	#menu ul.sub-menus {
		width: 100%;
		position: static;
	}

	#menu ul.sub-menus a {
		padding-left: 30px;
	}

	#menu li {
		display: block;
		float: none;
		width: auto;
	}

	#menu input,
	#menu label {
		position: absolute;
		top: 0;
		left: 0;
		display: block
	}

	#menu input {
		z-index: 4
	}

	#menu input:checked+label {
		color: white
	}

	#menu input:checked+label:before {
		content: "\00d7"
	}

	#menu input:checked~ul {
		display: block
	}

	#menu label {
		display: none;
	}
}

#logo {
	float: left;
	padding-left: 10px;
	padding-top: 5px;
	height: 50px
}

#wip {
	color: orangered;
	display: block;
	text-align: center;
	animation-name: alert;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	text-shadow: 0 0 10px orangered;


}

@keyframes alert {
	0% {
		text-shadow: 0 0 0px orangered;
	}

	50% {
		text-shadow: 0 0 5px orangered;
	}

	100% {
		text-shadow: 0 0 0px orangered;
	}