#Navbar-Placeholder {
	background: rgba(255, 255, 255, 0.7);
	color: #FFFF;
	height: 4rem;
	position: sticky;
	top: 0;
	margin: 0;
	padding: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

#menu {
	margin-right: 1rem;
}

#menu ul,
#menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}

#menu ul {
	width: 100%;
}

#menu li {
	float: left;
	display: inline;
	position: relative;
}

#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #000000;
	font-size: 16px;
	text-transform: capitalize;
}

#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
	text-decoration: none;
	z-index: -1;
}

#menu li a:hover {
	text-decoration: underline;
	text-underline-position: auto;
	background: rgba(255, 255, 255, 0);
	z-index: -1;
}

#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: -1;
}

#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}

#menu label:before {
	font-size: 1.6em;
	content: "\2261";
	margin-left: 20px;
}

#menu ul.sub-menus {
	height: auto;
	overflow: hidden;
	width: 170px;
	background: rgba(255, 255, 255, 0.7);
	;
	position: absolute;
	z-index: 99;
	display: none;
}

#menu ul.sub-menus li {
	display: block;
	width: 100%;
}

#menu ul.sub-menus a {
	color: #444444;
	font-size: 16px;
	text-transform: capitalize;
}

#menu li:hover ul.sub-menus {
	display: block
}

#menu ul.sub-menus a:hover {
	background: rgba(255, 255, 255, 0);
	;
	color: #444444;
}


#logo {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	height: 50px
}


@keyframes alert {
	0% {
		text-shadow: 0 0 0px orangered;
	}

	50% {
		text-shadow: 0 0 5px orangered;
	}

	100% {
		text-shadow: 0 0 0px orangered;
	}

}











/* Hamburger Menu */



#hamburger {
	padding-left: 1rem;
	display: none;
	margin-right: 4.5rem;
}

#menu-toggle {
	display: none;
	<input id="menu-toggle" type="checkbox" />
}

#menu-toggle:checked~#menu {
	transform: translateY(24rem);
}

.menu-button {
	padding-top: 0.8rem;
	position: fixed;
	top: 20px;
	left: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
}

.menu-button>span,
.menu-button>span::before,
.menu-button>span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
	transition-duration: .25s;
}

.menu-button>span::before {
	content: '';
	top: -8px;
}

.menu-button>span::after {
	content: '';
	top: 8px;
}

#menu-toggle:checked+section>label>span {
	transform: rotate(45deg);
}

#menu-toggle:checked+section>label>span::before {
	opacity: 0;
}

#menu-toggle:checked+section>label>span::after {
	top: 0;
	transform: rotate(90deg);
}

#menu-toggle:checked~section {
	left: 0 !important;
}








/* Phone screen / swap to hamburger menu */
@media screen and (max-width: 50em) {
	#Navbar-placeholder {
		background-color: rgba(200, 200, 200, 0.9);
	}

	#menu {
		position: absolute;
		left: 0rem;
		top: -20rem;
		width: 100%;
		height: auto;
		text-align: center;
		background-color: rgba(200, 200, 200, 0.9);
		transition-duration: .25s;
		;
	}

	#menu a {
		font-weight: 500;
	}

	;

	#menu ul.sub-menus a {
		padding-left: 30px;
	}

	#menu li {
		display: block;
		float: none;
		width: auto;

	}

	#hamburger {
		display: block;
	}


	#wip {
		width: 5rem;
		margin-right: 1rem;
	}
}










/* WIP */

#wip {
	color: orangered;
	display: block;
	text-align: center;
	animation-name: alert;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	text-shadow: 0 0 10px orangered;


}