@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300";

* {
    letter-spacing: 0em;
    box-sizing: border-box;
    caret-color: transparent;
}

body {
    margin: 0;
    padding: 0;

    font-family: Poppins;
    font-weight: 300;
    font-size: calc((0.2) * 1vw + 1rem);
    font-style: normal;
    text-transform: none;
    text-underline-position: under;

}

h1 {
    text-align: center;
    font-size: calc((1) * 1.5vw + 1rem);
    font-weight: 500;
    padding: 0.5rem 0;
    background-image: linear-gradient(90deg, rgba(255, 69, 0, 0.3) 00%, rgba(110, 191, 194, 0.3) 80%);
    margin: 0;
}

h2 {
    text-align: center;
    font-size: calc((0.5) * 1vw + 1rem);
    font-weight: 500;
    /* padding-top: 2rem; */
}

h3 {
    text-align: center;
    font-size: calc((0.5) * 0.5vw + 1rem);
    font-weight: 500;
    /* padding-top: 2rem; */
}