@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300";

* {
    letter-spacing: 0em;
    box-sizing: border-box;
    caret-color: transparent;
    color: black;
}

body {
    margin: 0;
    padding: 0;

    font-family: Poppins;
    font-weight: 300;
    font-size: calc((0.2) * 1vw + 1rem);
    font-style: normal;
    text-transform: none;
    text-underline-position: under;

}

h1 {
    text-align: center;
    font-size: calc((1) * 1.5vw + 1rem);
    font-weight: 500;
    padding: 0.5rem 0;
    background-image: linear-gradient(90deg, rgba(255, 69, 0, 0.3) 00%, rgba(110, 191, 194, 0.3) 80%);
    margin: 0;
}

h2 {
    text-align: center;
    font-size: calc((0.5) * 1vw + 1rem);
    font-weight: 500;
    /* padding-top: 2rem; */
}

h3 {
    text-align: center;
    font-size: calc((0.5) * 0.5vw + 1rem);
    font-weight: 500;
    /* padding-top: 2rem; */
}

@media (prefers-color-scheme: dark) {

    body,
    .text,
    #typewriter,
    p,
    h1,
    h2,
    h3,
    main li {
        color: #d8d4cf !important;
        background-color: #131516 !important;
    }


    #Navbar-Placeholder,
    #menu ul.sub-menus li {
        color: #d8d4cf !important;
        background-color: rgba(19, 21, 22, 0.8) !important;
    }

    #Navbar-Placeholder a,
    #Navbar-Placeholder i,
    i {
        color: #d8d4cf !important;
        background: rgba(0, 0, 0, 0) !important;
    }

    #Navbar-Placeholder ul,
    #Navbar-Placeholder li {

        color: #d8d4cf !important;
        background: rgba(0, 0, 0, 0) !important;
    }

    @media screen and (max-width: 50em) {


        #Navbar-Placeholder ul,
        #Navbar-Placeholder li {

            background-color: rgba(19, 21, 22, 0.8) !important;
        }
    }

    /* --darkreader-neutral-background: #131516;
        --darkreader-neutral-text: #d8d4cf;
        --darkreader-selection-background: #004daa;
        --darkreader-selection-text: #e8e6e3; */

}